.fade-in-down-animation {
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-name: fade-in-down;
}
.title-hover-animation {
  display: inline-block;
  position: relative;
  color: var(--second-text-color);
  border-bottom: none;
  line-height: 1.3;
  vertical-align: top;
}
.title-hover-animation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--second-text-color);
  visibility: hidden;
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}
.title-hover-animation:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
@-moz-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@-o-keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.about-container {
  background: var(--background-color);
  box-shadow: 0 0 3px var(--border-color);
  transition: all 0.3s ease;
  padding: 30px;
  border-radius: 2px;
}
.about-container:hover {
  transition: all 0.3s ease;
  box-shadow: 0 0 8px var(--border-color);
  transform: scaleX(1.005) scaleY(1.01);
}
.about-container .about-content {
  margin-bottom: 30px;
}
.about-container .about-content h1:first-child,
.about-container .about-content h2:first-child,
.about-container .about-content h3:first-child,
.about-container .about-content h4:first-child,
.about-container .about-content h5:first-child,
.about-container .about-content h6:first-child {
  margin-top: 0;
}
