:root {
  --background-color: #fff;
  --magic-background-color: #f5f5f5;
  --primary-color: #225eea;
  --first-text-color: #3e3b47;
  --fourth-text-color: #eee;
  --second-text-color: #403d4a;
  --third-text-color: #8b869b;
  --normal-text-color: #43404d;
  --border-color: #b3b3b3;
  --selection-color: #4e7eee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #38373a;
    --magic-background-color: #2f2e31;
    --primary-color: #225eea;
    --first-text-color: #cecbd4;
    --second-text-color: #c7c4ce;
    --third-text-color: #928ca0;
    --fourth-text-color: #2f2e31;
    --normal-text-color: #b9b5c2;
    --border-color: #5f5e63;
    --selection-color: #4e7eee;
  }
}
.dark-mode {
  --background-color: #38373a;
  --magic-background-color: #2f2e31;
  --primary-color: #225eea;
  --first-text-color: #cecbd4;
  --second-text-color: #c7c4ce;
  --third-text-color: #928ca0;
  --fourth-text-color: #2f2e31;
  --normal-text-color: #b9b5c2;
  --border-color: #5f5e63;
  --selection-color: #4e7eee;
}
.light-mode {
  --background-color: #fff;
  --magic-background-color: #f5f5f5;
  --primary-color: #225eea;
  --first-text-color: #3e3b47;
  --second-text-color: #403d4a;
  --third-text-color: #8b869b;
  --fourth-text-color: #eee;
  --normal-text-color: #43404d;
  --border-color: #b3b3b3;
  --selection-color: #4e7eee;
}
.normal-code-theme {
  --code-foreground: #474351;
  --code-background: #f2f2f2;
  --highlight-background: #fafafa;
  --highlight-foreground: #474351;
  --highlight-comment: #8e908c;
  --highlight-red: #c82829;
  --highlight-orange: #f5871f;
  --highlight-yellow: #eab700;
  --highlight-green: #718c00;
  --highlight-aqua: #3e999f;
  --highlight-blue: #4271ae;
  --highlight-purple: #8959a8;
  --highlight-gutter-color: #4c4857;
  --highlight-gutter-bg-color: #f2f2f2;
}
.night-code-theme {
  --code-foreground: #bab6c3;
  --code-background: #323134;
  --highlight-background: #343335;
  --highlight-foreground: #bab6c3;
  --highlight-comment: #969896;
  --highlight-red: #c66;
  --highlight-orange: #de935f;
  --highlight-yellow: #f0c674;
  --highlight-green: #b5bd68;
  --highlight-aqua: #8abeb7;
  --highlight-blue: #81a2be;
  --highlight-purple: #b294bb;
  --highlight-gutter-color: #bcb9c5;
  --highlight-gutter-bg-color: #323134;
}
